<footer class="footer">
    <small>&copy; 2024 Team Oreneta. Website made by <a href="https://poyo.study">Poyo!</a> for High Seas (by Hack Club). All rights reserved.</small>
</footer>
</body>
</html>