<h1 margin="0">Welcome to Team Oreneta's corner of the web!</h1>
<p>Hi! We're <u>Team Oreneta</u>, a group of developers who love to make cool stuff. We're currently working on Oreneta, an OS built with Rust.</p>